{% extends '/base.html.twig' %}

{% block title %}{{ login_title }}!{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
    <div id="login" class="page-wrapper">
        {% block header %}
            {% include 'helpers/_header.html.twig' %}
        {% endblock %}
        <div class="container">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <b>Hey you,  </b>
                <h1 class="h3 mb-3 ">Please Sign in :</h1>
                <label for="inputEmail">Email: </label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Password: </label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <div class="d-flex justify-content-around">
                    <button class="btn btn-lg btn-primary col-lg-3" type="submit">
                        Sign in
                    </button>
                    {% if app.user %}
                        <button class="btn btn-lg btn-danger col-lg-3" type="submit">
                            <a href="{{ path('app_logout') }}" class="text-white">Logout</a>
                        </button>
                    {% endif %}
                </div>
            </form>
        </div>
        {% block footer %}
            {% include 'helpers/_footer.html.twig' %}
        {% endblock %}
    </div>

{% endblock %}
