<header class=" header header-transparent">
    <div class="header-wrapper">
        <div class="container">
            <div class="header-inner">
                <div class="header-logo">
                    <a href="{{ path('Home') }}">
                        <img src="{{ asset('build/images/logo-white.fbc2b33d.png') }}" alt="Logo">
                        <span>{{ superlist }}</span>
                    </a>
                </div><!-- /.header-logo -->
                <div class="header-content">
                    <div class="header-bottom">
                        <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
                            {% for link in links %}
                                <li >
                                    <a href="{{ path(link) }}">{{ link }} <i class="fa"></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div><!-- /.header-bottom -->
                </div><!-- /.header-content -->
            </div><!-- /.header-inner -->
        </div><!-- /.container -->
    </div><!-- /.header-wrapper -->
</header><!-- /.header -->