<header class=" header header-transparent">
    <div class="header-wrapper">
        <div class="container">
            <div class="header-inner">
                <div class="header-logo">
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('build/images/logo-white.fbc2b33d.png') }}" alt="Logo">
                        <span>{{ superlist }}</span>
                    </a>
                </div><!-- /.header-logo -->

                <div class="header-content">
                    <div class="header-bottom">
                        <div class="header-action">
                            <a href="listing-submit.html" class="header-action-inner" title="Add Listing" data-toggle="tooltip" data-placement="bottom">
                                <i class="fa fa-plus"></i>
                            </a><!-- /.header-action-inner -->
                        </div><!-- /.header-action -->

                        <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">

                            <li >
                                <a href="{{ path('home') }}">Home <i class="fa"></i></a>
                            </li>

                            <li >
                                <a href="#">Listing <i class="fa"></i></a>
                            </li>

                            <li >
                                <a href="#">Pages <i class="fa"></i></a>
                            </li>

                            <li >
                                <a href="#">Blog <i class="fa"></i></a>
                            </li>

                            <li >
                                <a href="{{ path('admin') }}">Admin <i class="fa"></i></a>
                            </li>

                            <li >
                                <a href="{{ path('contact') }}">Contact <i class="fa"></i></a>
                            </li>
                        </ul>
                    </div><!-- /.header-bottom -->
                </div><!-- /.header-content -->
            </div><!-- /.header-inner -->
        </div><!-- /.container -->
    </div><!-- /.header-wrapper -->
</header><!-- /.header -->