{% extends '/base.html.twig' %}

{% block title %}{{ detail_name }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('detail') }}
{% endblock %}
{% block body %}
    <div id="detail" class="page-wrapper">
        {% block header %}
            {% include 'extendsFiles/header.html.twig' %}
        {% endblock %}
            <div class="container">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ asset('./build/images/tmp/agent-5.jpg') }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title"><b>Nom: </b>{{ recipient.nom }}</h3>
                                <p class="card-text"><b>Email: </b>{{ recipient.emaill }}</p>
                                <p class="card-text"><b>Site Internet: </b>{{ recipient.siteInternet }}</p>
                                <p class="card-text"><b>Tel: </b>{{ recipient.numTel }}</p>
                                <p class="card-text"><b>Tva: </b>{{ recipient.numTVA }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% block footer %}
            {% include 'extendsFiles/footer.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}
