{% extends '/base.html.twig' %}

{% block title %}{{ categories_title }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('lists') }}
{% endblock %}
{% block body %}
    <div id="lists" class="page-wrapper">
        {% block header %}
            {% include 'helpers/_header.html.twig' %}
        {% endblock %}
        <div class="document-title text-center provider" style="background: url('{{ asset('/build/images/tmp/partner-5.png') }}');">
            <h1>List of Categories</h1>
        </div><!-- /.document-title -->

        <div class="container">
            <form class="filter" method="post" action="?">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <input type="text" placeholder="Keyword" class="form-control">
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <select class="form-control" title="Select Location">
                                <option>Bronx</option>
                                <option>Brooklyn</option>
                                <option>Manhattan</option>
                                <option>Staten Island</option>
                                <option>Queens</option>
                            </select>
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <select class="form-control" title="Select Category">
                                <option value="">Automotive</option>
                                <option value="">Jobs</option>
                                <option value="">Nightlife</option>
                                <option value="">Services</option>
                            </select>
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->

                <hr>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="filter-actions">
                            <a href="#"><i class="fa fa-close"></i> Reset Filter</a>
                            <a href="#"><i class="fa fa-save"></i> Save Search</a>
                        </div><!-- /.filter-actions -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Redefine Search Result</button>
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </form>

            <div class="">
                <h2 class="page-title"> results</h2><!-- /.page-title -->
                    <form method="get" action="?" class="filter-sort">
                        <div class="form-group">
                            <select title="Sort by">
                                <option>Sort By</option>
                                <option name="price">Price</option>
                                <option name="rating">Rating</option>
                                <option name="title">Title</option>
                            </select>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <select title="Order">
                                <option>Order By</option>
                                <option name="ASC">Asc</option>
                                <option name="DESC">Desc</option>
                            </select>
                        </div><!-- /.form-group -->
                    </form>
            </div>

            <hr>

            <div class="block-list">
                <div class=" row lists-header">
                    <h1 class="col-lg-12">Hand Picked by Superlist</h1>
                    <p class="content col-lg-12">Check out the best places &amp; events in the city. Each one is worth<br> of visiting. Experience which you never forget.</p>
                </div><!-- /.page-header -->
                <div class="row lists">
                    {% for category in categories %}
                        <div class="col-lg-3">
                            <h3 class="list-title">{{ category.nom }}</h3>
                            <p class="list-num-tel">{{ category.valide }}</p>
                            <p class="list-num-tel">{{ category.enAvant }}</p>
                            <button class="btn"><a class="text-dark" href="{{ path('Category', {'id': category.id}) }}">View</a></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% block footer %}
            {% include 'helpers/_footer.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}
