{% extends '/base.html.twig' %}

{% block title %}{{ home_title }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <div id="home" class="page-wrapper">
        {% block header %}
            {% include 'helpers/_header.html.twig' %}
        {% endblock %}
        <div class="hero-video">
            <video preload="metadata" autoplay="" muted="" loop="">
                <source src="http://preview.byaviators.com/template/superlist/assets/img/tmp/video.mp4" type="video/mp4">
            </video>

            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                        <h1>Directory Template</h1>
                        <p>Create your own directory website by using Superlist HTML template <br> incorporating all features of modern directory website.</p>

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for event, hotel, restaurant, job ... ">
                            <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Search</button>
                    </span>
                        </div><!-- /.input-group -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.hero-video -->

        <div class="container slider shadow p-3 mb-5 ">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    {% for counter in 1..5 %}
                        <li data-target="#demo" data-slide-to="{{ counter }}"></li>
                    {% endfor %}
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('build/images/tmp/gallery-8.jpg') }}" alt="Los Angeles" width="1100" height="500">
                        <div class="carousel-caption">
                            <h1 class="cat-title">Category of service !</h1>
                            <p class="cat-description">Here are dynamic  service's categories from the database</p>
                            <a href="{{ path('Categories') }}"><button class="col-lg-12 btn btn-primary "><b>View All</b></button></a>
                        </div>
                    </div>
                    {% for index, cat in cats %}
                        <div class="carousel-item">
                            {% set img = 'build/images/tmp/gallery-7.jpg' %}
                            <img src="{{ asset(img) }}" alt="Los Angeles" width="1100" height="500">
                            <div class="carousel-caption">
                                <h3 class="cat-title">{{ cat.nom }}</h3>
                                <span class="cat-index">{{ index }}</span>
                                <p class="cat-description">{{ cat.description }}</p>
                                <a href="{{ path('Category', {id: cat.id}) }}"><button class="col-lg-12 btn btn-primary "><b>View</b></button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>

        <div class="container block-list">
            <div class=" row lists-header">
                <h1 class="col-lg-12">Hand Picked by Superlist</h1>
                <p>Check out the best places &amp; events in the city. Each one is worth<br> of visiting. Experience which you never forget.</p>
            </div><!-- /.page-header -->
            <div class="row lists">
                {% for recipient in recipients %}
                    <div class="col-lg-3">
                        <h3 class="list-title">{{ recipient.nom }}</h3>
                        <p class="list-num-tel">{{ recipient.numTel }}</p>
                        <a  href="{{ path('Recipient', {'id': recipient.id}) }}">
                            <h3 class="text-info">View</h3>
                        </a>
                    </div>
                {% endfor %}
                <div class="col-lg-3">
                    <h3 class="list-title">There is More </h3>
                    <p class="list-num-tel">See More ...</p>
                    <a class="see-more" href="{{ path('Listing') }}">
                            <h3 class="text-info">View All</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="question">
            <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 question-title">
                                <h2>Do You Have Any Questions?</h2>
                        </div>
                        <div class="contact-info col-lg-6">
                            <span class="contact-info-item">
                                <i class="fa fa-at"></i>
                                <span><a href="#">support@sitename.com</a></span>
                            </span><!-- /.contact-info-item -->
                            <span class="contact-info-item">
                                <i class="fa fa-phone"></i>
                                <span>+123-456-789</span>
                            </span><!-- /.contact-info-item -->
                        </div><!-- /.contact-info-->
                    </div><!-- /.row -->
                </div>
        </div>
        {% block footer %}
            {% include 'helpers/_footer.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}
