{% extends '/base.html.twig' %}

{% block title %}{{ recipients_title }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('lists') }}
{% endblock %}
{% block body %}
    <div id="lists" class="page-wrapper">
        {% block header %}
            {% include 'helpers/_header.html.twig' %}
        {% endblock %}
            <div class="document-title text-center provider" style="background: url('{{ asset('/build/images/tmp/partner-5.png') }}');">
                <h1>List of Providers</h1>
            </div><!-- /.document-title -->

        <div class="container">
            <form class="filter" method="post" action="?">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <input type="text" placeholder="Keyword" class="form-control">
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <select class="form-control" title="Select Location">
                                <option>Bronx</option>
                                <option>Brooklyn</option>
                                <option>Manhattan</option>
                                <option>Staten Island</option>
                                <option>Queens</option>
                            </select>
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <select class="form-control" title="Select Category">
                                <option value="">Automotive</option>
                                <option value="">Jobs</option>
                                <option value="">Nightlife</option>
                                <option value="">Services</option>
                            </select>
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->

                <hr>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="filter-actions">
                            <a href="#"><i class="fa fa-close"></i> Reset Filter</a>
                            <a href="#"><i class="fa fa-save"></i> Save Search</a>
                        </div><!-- /.filter-actions -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Redefine Search Result</button>
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </form>

            <div class="block-list">
                <div class=" row lists-header">
                    <h1 class="col-lg-12">Hand Picked by Superlist</h1>
                    <p class="content col-lg-12">Check out the best places &amp; events in the city. Each one is worth<br> of visiting. Experience which you never forget.</p>
                </div><!-- /.page-header -->
                <div class="row lists">
                    {% for recipient in recipients %}
                        <div class="col-lg-3">
                            <h3 class="list-title">{{ recipient.nom }}</h3>
                            <p class="list-email"><a href="#">{{ recipient.eMailContact }}</a></p>
                            <p class="list-num-tel">{{ recipient.numTel }}</p>
                            <p class="list-site"><a href="#">{{ recipient.siteInternet }}</a></p>
                            <button class="btn"><a class="text-dark" href="{{ path('Recipient', {'id': recipient.id}) }}">View</a></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

     {% block footer %}
        {% include 'helpers/_footer.html.twig' %}
     {% endblock %}
    </div>
{% endblock %}
